* {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
/* Header */
header {
	background-color: #f1f1f1;
	border: solid 1px #d9d9d9;
	width: 100%;
	height: 120px;
}
header .top-header-right {
	float: right;
	position: relative;
	top: 20px;
	right: 25px;
}

#google-logo {
	height: 40px;
	margin: 21px 15px;
}
#magnifying_glass {
	position: absolute;
	width: 30px;
	height: auto;
	left: 720px;
	top: 25px;
	cursor: pointer;
}
#search-bar {
	height: 40px;
	width: 600px;
	position: relative;
	top:-40px;
	font-size: 17px;
	padding-left: 20px;
}
#applications {
	height: 20px;
	width:auto;
	padding-right: 10px;
	position: relative;
	top:-5px;
}
#notifications {
	height: 30px;
	width: auto;
	padding-right: 10px;
}
#sign-in {
	height: 30px;
	width: auto;
}
header ul li {
	float: left;
	list-style-type: none;
	display: inline;
	position: relative;
	padding: 0 15px;
	left: 155px;
	top: -10px;
	font-size: 13px;
}
.bottom-header-center {
	position: relative;
	left: 120px;
}
header ul li a {
	color: #808080;
}
#highlighted {
	border-bottom: solid 3px #0066ff;
	padding-bottom: 15px;
	color: #0066ff;
	font-weight: bold;
}



		/* MAIN CONTENT STARTS HERE */


			/* Start small text */
small, small ul li a {
	font-size: 13px;
	color: #8c8c8c;
}
#results {
	position: relative;
	left: 160px;
	display: block;
	margin: 15px;	
}
					/* End small text section */

		/* Link and URL */
.url-green {
	color: #008000;
	font-size: 15px;
}
.blue-link {
	font-size: 18px;
	color: #0059b3;
}
.blue-link:hover {
	font-size: 18px;
	color: #0059b3;
	text-decoration: underline;
}

				/* End Link and URL */

#websitesetup {
	position: relative;
	left: 150px;
	border: solid 1px #999999;
	padding: 25px 35px;
	width: 600px;
}
#websitesetup ol li, #websitesetup ul li {
	padding: 0 3px;
}

small ul {
	position: relative;
	left: 550px;
}
small ul li {
	display: inline-block;
	padding-left: 30px;
}

#websitesetup ol, #websitesetup ul, #websitesetup small	 {
	display: block;
	margin: 10px;

}
 
/* End first search box section */

.main-results {
	position: relative;
	left: 165px;
	width: 650px;
	top: 20px;
	margin-top: 20px;
}

.main-results .result-link {
	color: #0000cc;
	font-size: 18px;
	font-weight: normal;
}

.main-results .sneakpeak {
	font-size: 13px;
	color: #595959;
	margin-top: 2px;
}

.main-results .sneakpeak .date {
	color: #999999;
}

#related-searches {
	position: relative;
	top: 70px;
	left: 165px;
}

#related-searches h1 {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: normal;
}

#related-searches ul {
	list-style-type: none;
	columns: 2;
	width: 30%;
}
#related-searches ul li {
	margin: 5px;
}
#related-searches ul li a {
	color:#0000cc;
	font-weight: bold;
	font-size: 14px;
}

#related-searches ul li a:hover {
		text-decoration: underline;
}


/* Next Page Icons */
.next-page {
	position: relative;
	left: 300px;
	top: 100px;
}

.next-page #google-next-page {
	color:#6666ff;
}

.next-page #google-next-page #red {
	color: #ff3333;
}

.next-page #google-next-page #yellow {
	color: #e6e600;
}

.next-page #google-next-page #green {
	color: #5cd65c;
}

.next-page .next-page-list {
	list-style-type: none;
}

.next-page .next-page-list li {
	display: inline;
	padding: 5px;
	font-size: 13px;
}





